*{
  margin: 0; padding: 0; box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

header{
  width : 100%; height:100vh;
  background-color: white;
  animation: changebg 40s  infinite linear;
  background-repeat: no-repeat;
  background-size:cover;

}

#map{
  margin-top: 10px;
  margin-left: 40px;
  width: 100%;
  height:50%;

}
nav{

width:100%; height: 10vh;
background:rgba(0,0,0,0.2);
color: white; display: flex; justify-content: space-between;
align-items: center; text-transform: uppercase;
}



 .logo{
  width:100%;
  word-spacing: 10px;
  margin-left: 20px;
  align-content: center;
  font-size: 40px;
  font-family: 'ABeeZee', sans-serif;
  /*background:red*/;
}

 nav .menu{
  width:40%;

  margin-right: 10px;

  display:flex;


}

nav .menu a{
  width:25%;

  font-family: 'Acme', sans-serif;
  font-size: 20px;
  word-spacing: 5px;
  text-decoration: none; color:white;
  text-align: center;



}

.menu a:active{

  color: #f55045;
}



/*nav .menu a:first-child{
  color: #f55045;
}

nav .menu a:first-child:hover{
  color: #a83232;
}*/


.menu a:hover{

  color: #a83232;
  font-size: 25px;

}



main{

  width:100%;
  height:90vh;
  display:flex;
  justify-content: center;
  align-items:center;
  text-align:center; color:white;


}

section{

}
section .container1{
  position: relative;

  display:flex;
  z-index: 1000;
}
  section .container2{
    position: relative;

    display:flex;
    z-index: 1000;
}

    section .container3{
      position: relative;

      display:flex;
      z-index: 1000;
    }
.r1{
  display: flex;
}
section .container1 .place1{
  color:black;
  align-self: center;
  margin-top: 10px;

  z-index: 1;
}
section .container2 .place2{

  z-index: 1;
  color:black;
}
section .container3 .place3{

  z-index:1;
  color:black;
}
section .container4 .place4{
  display:flex;
}

 .h1{
  font-size:35px; font-weight 200; letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
  color: black;
  margin-top: 60px;
}

 .h2{
  font-size:35px; font-weight 200; letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
  color: black;
  margin-top:;
}
/*section p{
  margin: 30px 0 20px 0;
  font-size:55px;
  font-weight:700px;
  text-shadow: 2px 1px 5px black;
}*/

section a{
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  font-size:13px;
  font-weight:50px;
  text-decoration:none;
  letter-spacing:1px;
  transition: all .5s ease;
}




section .b1{
  background-color: #fff;
  color: black;
  font-size: 18px;
}

section .b2{
  background-color: #fff;
  color: black;
  font-size: 18px;
}

.changes:after{
  content:'';
  animation: changetext 10s infinite  linear;
  color:white;
  font-family: serif;


}

@keyframes changetext {
  0%{content:"ALAMBAGH";color:white;}

  20%{content:"HAZRATGANJ";color:white;}

  40%{content:"RIVERFRONT";color:white;}

  60%{content:"BANTHARA";color:white;}
  80%{content:"CHOWK"; color: white;}
  100%{content:"LUCKNOW"; color: #ebbeb2;}
}


.b1:hover{
  background-color: #a8534d;
  color: #f7f3f2;
  font-size: 18px;
}

.b2:hover{

  background-color: #a8534d;
  color: #f7f3f2;
  font-size: 18px;
  }
